{% extends 'base.html' %}
{% block title %}Paragraph{% endblock %}

{% block header %}
  <h1>{{ paragraph['id'] }} — {{ paragraph['title'] }}</h1>
  <form method="post" class="flex-right">
    <input name="id" type="number" min="0"  value="{{ paragraph['id'] }}" required>
    <input type="submit" value="{{ locale['goto'] }}">
  </form>
  {% if paragraph['protected'] == 0 %}
    <a class="edit flex-right" href="{{ url_for('paragraph.edit', lang=paragraph['lang'], id=paragraph['id']) }}">{% if exists %} {{ locale['edit'] }} {% else %} {{ locale['add'] }} {% endif %}</a>
  {% else %}
    <a>{{ locale['edit'] }}</a>
  {% endif %}
  <a class="lang" href="{{ url_for('paragraph.show', lang=('en' if paragraph['lang'] == 'ru' else 'ru'), id=paragraph['id']) }}">{% if paragraph['lang'] == 'en' %} ru {% else %} en {% endif %}</a>
{% endblock %}

{% block content %}
  {{ paragraph['rendered'] | safe}}
{% endblock %}
