{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
  <h1 class="mb-4">{{ locale['profile']['name'] }}</h1>
  <a href="{{ url_for('paragraph.show', lang=paragraph.lang, ind=paragraph.id) }}" class="btn btn-outline-secondary btn-lg px-5">{{ locale['menu']['back'] }}</a>
</div>

{% if variables %}
  <div class="list-group">
    {% for name, value in variables %}
      <div class="list-group-item mb-3 border rounded shadow-sm">
        <div class="d-flex justify-content-between align-items-center">
          <strong class="text-capitalize">{{ name }}</strong>
        </div>
        <div class="mt-2">
          <span class="text-muted">{{ value }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-muted">{{ locale['profile']['no_data'] }}</p>
{% endif %}
{% endblock %}
